<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@500;600;700;800&display=swap');
</style>
body{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.nav-header{
  display: flex;
  font-weight: 40px;
  font-size: 700;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 240px;
  
}
nav> ul{
  display: flex;
}
nav li{
  list-style-type: none;
  margin-right: 25px;
}
nav li a{
  text-decoration: none;
}
/*main section style here */
.description{
  color: #534C64;
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.banner-image{
 width: 500px;
 height: 400px;
}
.btn-primary{
  font-size: 16px;
  font-weight: 20px;
  padding: 10px 20px;
  background: #FF42A5;
  border-radius: 20px;
  border: none;
}
.btn-primary1{
  font-size: 16px;
  font-weight: 20px;
  padding: 10px 20px;
  background: #4EC5F7;
  border-radius: 20px;
  border: none;
  margin-left: 8px;
}

.gramer{
  display: flex;
  flex-direction: row-reverse;
  gap: 100px;
  justify-content: center;
  margin: 40px 40px;
  align-items: center;

}
.gramer-title{
  text-align-last: right;
  padding-right: 100px;
  margin-top: 20px;
}
.gramer-image{
  width: 650px;
  height: 300px;
  padding-left: 50px;
}
.funny-image{
  width: 200px;
  height: 250px;
  margin-top: 20px;
  padding-inline: 20px;
}
.funny-image-titel{
  text-align: center;
}
.funny-image-item{
  gap: 100px;
}
/* play Instantly style here */
.play-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.play-image{
  width: 400px;
  height: 400px;
  margin-top: 100px;
 
  
}
.dorimon-image{
  width: 200px;
  height: 200px;
  border: white;
  border-radius: 5px;
  margin-top: -100px;
  
  
}
/*action game section style here */
.action-games{
  display: flex;
  justify-content: center;
  margin-top: 50px; 
}
.action-games1{
  display: flex;
  justify-content: center;
  margin-top: 50px;

}
.action-games img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
 .action-games-title:hover{
  border: 1px solid #FF61B3;
  border-radius: 30px;
  padding: 15px 10px;
  color: #FF98CE;
}

.action-games1 img{
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.action-games-title{
  padding-left: 10px;
  padding-right: 10px;
}
/* footer style */
.footer-header{
  display: flex;
  justify-content: center;
   /*margin-top: 50px;*/
}

.footer-container{
  background: #0B0223;
  height: 400px;
  margin-top: 50px;
 }
 .footer-parent{
  padding-top: 10px;
  padding-bottom: 20px;
 }
ul{
  display: flex;
  justify-content: center;
  list-style: none;
 }
 li{
  margin: 10px 30px;

 }
 li a{
  text-decoration: none;
  margin-top: -20px;
 }
 li a{
  
 }
 .footer-image{
  width: 37px;
  height: 37px;
 }
 .footer-image-linkdin{
  width: 35px;
  height: 35px;
 }
 .footer-image-instagram{
  width: 30px;
  height: 30px;
 }
 .social-image{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  align-items: center;
  gap: 50px;
 }
 .all-rights{
  text-align: center;
  color: #94909F;
   
 }
 .footer-header{
  justify-content: center;
  align-items: center;
 }
 .footer-title{
  color:#FFFFFF;
  margin-left: 10px;
  font-size: 32px;
 }
 .footer-title-g{
  color: #FF42A5;
 }
 .footer-title-image{
  width: 50px;
  height: 25px;
 }
 ul> li a{
  color: #FFFFFF;
 }
 
 
/* small divice responsive */
@media screen and (max-width: 576px) {
  header{
    padding: 20px;
    flex-direction: column;
  }
  nav{
    flex-direction: column;
  }
  .nav-header , .banner{
    flex-direction: column;
  }
  nav> ul , .play-container{
    flex-direction: column;
  }
  .social-image , ul , .gramer{
    flex-direction: column;
  }
  .social-image{
    padding: 20px;
    margin-top: 50px;
  }
  .footer-header , .action-games{
    flex-direction: column;
  }
}
/* Tablet or medium divice style */
@media screen and (min-width: 576px) and (max-width: 960px) {
  header{
    padding: 20px;
    flex-direction: column;
  }
  nav{
    flex-direction: column;
  }
  .nav-header , .banner{
    flex-direction: column;
  }
  nav> ul , .play-container{
    flex-direction: column;
  }
  .social-image , ul , .gramer{
    flex-direction: column;
  }
  .footer-header , .action-games{
    flex-direction: column;
  }
}

 