<style>
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Work+Sans:wght@500;600;700;800&display=swap');
</style>
*{
  font-family: 'Open Sans', sans-serif;
  font-family: 'Work Sans', sans-serif;
}
.nav-header{
  display: flex;
  font-weight: 40px;
  font-size: 700;
}
nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 240px;
  
}
nav> ul{
  display: flex;
}
nav li{
  list-style-type: none;
  margin-right: 25px;
}
nav li a{
  text-decoration: none;
}
/*main section style here */
.description{
  color: #534C64;
}
.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.banner-image{
 width: 500px;
 height: 400px;
}
.gramer{
  display: flex;
  flex-direction: row-reverse;
  gap: 100px;
  justify-content: center;
  margin: 40px 40px;
  align-items: center;

}
.gramer-title{
  text-align-last: right;
  padding-right: 100px;
  margin-top: 20px;
}
.gramer-image{
  width: 650px;
  height: 300px;
  padding-left: 50px;
}
.funny-image{
  width: 200px;
  height: 250px;
  margin-top: 20px;
  padding-inline: 20px;
}
.funny-image-titel{
  text-align: center;
}
.funny-image-item{
  gap: 100px;
}
/* play Instantly style here */
.play-container{
  display: flex;
  justify-content: center;
  align-items: center;

}
.play-image{
  width: 400px;
  height: 400px;
  margin-top: 100px;
  
}
.dorimon-image{
  width: 200px;
  height: 200px;
  border: white;
  border-radius: 5px;
  border-radius: 8px;
}